@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$fs-title: 18px;
$fs-text: 16px;
$ff-simple: 'Roboto', sans-serif;
$fw-400: 400;
$fw-700: 700;
$clr-simple: black;
$clr-bg: lightblue;
$clr-bg-lt-city-hr: lightgrey;